.section-04{
    width: 100vw;
    height: 100vh;
    padding: 1.5rem;
    color: #fff;

    background-image: linear-gradient(to bottom, transparent 0%, black 85%), url('../Img/bg-signup.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-04 > .icon{
    padding-bottom: 0.5rem;
}

.section-04 > .text{
    padding-bottom: 1rem;
}

.section-04 > form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.section-04 > form > input{
    padding: 1rem;
    border: 0;
    width: 300px;
}


/* Medium Devices - Tablet */
@media (min-width: 641px){
    .section-04 > .icon{
        font-size: 1.5rem;
    }
    .section-04 > form{
        flex-direction: row;
    }

    .section-04 > form button{
        margin-left: 2rem;
        margin-top: 0;
    }
}
