.section-04{
    /* background-image: url('../Img/bg-signup.jpg'); */
    background-image: linear-gradient(to bottom, transparent 0%, black 85%), url('../Img/bg-signup.jpg');
    background-size: cover;

    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #fff;

    width: 100vw;
    height: 100vh;
    padding: 1.5rem;
    /* padding:2rem 1rem; */

}

.section-04 > .icon{
    padding-bottom: 0.5rem;
}

.section-04 > .text{
    padding-bottom: 1rem;
}

.section-04 > form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.section-04 > form > input{
    padding: 0.5rem;
    border: 0;
    width: 100%;
}

.section-04 > form > button{
    background-color: #f1a90d;
    color:black;
    /* font-size: 1rem; */
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-weight: 500;
    border: 0;
    margin-top: 1rem;
    transition: all 2s;
}

.section-04 > form > button.yellow:hover{
    font-size: 1.5rem;
}