.section-03{
    background-color: #fff;

    width: 100vw;
    height: 100%;
    padding: 1.5rem;
    /* padding:2rem 1rem; */

}
.section-03 > .container{
    width: 100%;
    height: 100%;
}

.section-03 .title{
    color:white;
}

/* BOX 1  */

.section-03 > .container > .box1{
    width: 100%;
    height: 25%;
    position: relative;

    /* width: 100%;
    height: 50%; */
    /* background-image: url("../Img/bg-masthead.jpg");
    background-size: 100% 100%; */
}
.section-03 > .container > .box1 .date1{
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.section-03 > .container > .box1 > .date1 .text{
    color: rgb(167, 167, 167);
    font-size: 0.8rem;
}

.section-03 > .container > .box1 > .trace{
    height: 30%;
    position: absolute;
    bottom: 45px;
    border-right: 5px solid yellow;
}

.section-03 > .container > .box1 > img{
    width: 100%;
    height: 100%;  
}
/* --------- */

/* BOX 2 */

.section-03 > .container > .box2{
    width: 100%;
    height: 25%;
    margin-top: 1rem;
    position: relative;


}
.section-03 > .container > .box2 > img{
    width: 100%;
    height: 100%;

}

.section-03 > .container > .box2 .date2{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.section-03 > .container > .box2 > .date2 .text{
    color: rgb(167, 167, 167);
    font-size: 0.8rem;
}

.section-03 > .container > .box2 > .trace{
    height: 30%;
    position: absolute;
    bottom: 45px;
    border-right: 5px solid yellow;
}

/* ----- */

/* BOX 3 */

.section-03 > .container > .box3{
    width: 100%;
    height: 25%;
    margin-top: 1rem;
    position: relative;


}
.section-03 > .container > .box3 > img{
    width: 100%;
    height: 100%;

}

.section-03 > .container > .box3 .date3{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.section-03 > .container > .box3 > .date3 .text{
    color: rgb(167, 167, 167);
    font-size: 0.8rem;
}

.section-03 > .container > .box3 > .trace{
    height: 30%;
    position: absolute;
    bottom: 45px;
    border-right: 5px solid yellow;
}

/* RESPONSIVE */

/* Medium Devices - Tablet */
@media (min-width: 641px){
    .section-03{
        background-color: #fff;
        padding: 3rem;
    
        width: 100vw;
        height: 100%;
        padding: 1.5rem;
        /* padding:2rem 1rem; */
    
    }
    .section-03 > .container{
        width: 100%;
        height: 100%;
    }
    
    .section-03 .title{
        color:black;
    }

    .section-03 > .container > .box2 .title{
        color: white;
    }

    .section-03 > .container > .box3 .title{
        color: white;
    }

    
    /* BOX 1  */
    
    .section-03 > .container > .box1{
        width: 100%;
        height: 25%;
        position: relative;

        padding-bottom:2rem;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    

    }
    .section-03 > .container > .box1 .date1{
        position: static;
        bottom: 0px;
        left: 0px;

        padding-left: 1rem;
    }
    .section-03 > .container > .box1 > .date1 .text{
        color: rgb(167, 167, 167);
        font-size: 1rem;
    }
    
    .section-03 > .container > .box1 > .trace{
        height: 90px;
        position: static;
        bottom: 0px;
        border-right: 5px solid yellow;
    }
    
    .section-03 > .container > .box1 > img{
        width: 60%;
        height: 50%;  
    }
    /* --------- */
    
    /* BOX 2 */
    
    .section-03 > .container > .box2{
        width: 100%;
        height: 100%;
        margin-top: 1rem;        
        position: relative;

        background-color: black;
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    
    }
    .section-03 > .container > .box2 > img{
        width: 50%;
        height: 100%;
    
    }
    
    .section-03 > .container > .box2 > .date2{
        width: 100%;
        height: 100%;
        color: white;
        /* background-color: black; */
        position: static;
        padding-left: 1rem;
    }
    
    .section-03 > .container > .box2 > .date2 .text{
        color: rgb(167, 167, 167);
        font-size: 1rem;
    }
    
    .section-03 > .container > .box2 > .trace{
        height: 0;
        position: static;
        /* bottom: 45px; */
        border:0;
    }

    .section-03 > .container > .box2 > .date2 .traceHorizontal{
        width: 90px;
        border-top: 2px solid yellow;

        margin-top: 1rem;
    }
    
    /* ----- */
    
    /* BOX 3 */
    
    .section-03 > .container > .box3{
        width: 100%;
        height: 100%;
        margin-top: 0;
        position: relative;

        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;    
    
    }
    .section-03 > .container > .box3 > img{
        width: 50%;
        height: 100%;
    
    }
    
    .section-03 > .container > .box3 .date3{
        width: 100%;
        height: 100%;
        color: white;
        position: static;
        padding-left: 1rem;
    }

    .section-03 > .container > .box3 > .date3 > title{
        color: white;
    }

    
    .section-03 > .container > .box3 > .date3 .text{
        color: rgb(167, 167, 167);
        font-size: 1rem;
    }
    
    .section-03 > .container > .box3 > .trace{
        height: 0;
        position: absolute;
        bottom: 0px;
        border: 0;
    }

    .section-03 > .container > .box3 > .date3 .traceHorizontal{
        width: 90px;
        border-top: 2px solid yellow;

        margin-top: 1rem;
    }
}
