.section-03{
    background-color: #fff;

    width: 100vw;
    height: 100%;
    padding: 1.5rem;
}

.section-03 > .container{
    width: 100%;
    height: 100%;
}

.section-03 .title{
    color:white;
}

/* BOXS   */
.section-03 > .container > .box{
    width: 100%;
    height: 25%;
    margin-top: 1rem;
    position: relative;
}
.section-03 > .container > .box > .date{
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.section-03 > .container > .box > .date .text{
    color: rgb(167, 167, 167);
    font-size: 0.8rem;
}

.section-03 > .container > .box > .trace{
    height: 30%;
    position: absolute;
    bottom: 45px;
    border-right: 5px solid yellow;
}

.section-03 > .container > .box > img{
    width: 100%;
    height: 100%;  
}
/* --------- */
/* RESPONSIVE */

/* Medium Devices - Tablet */
@media (min-width: 641px){
    
    /* BOX 1  */
    
    .section-03 > .container > .box.separate{
        width: 100%;    
        height: 25%;
        position: relative;

        padding-bottom:2rem;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;  
    }

    .section-03 > .container > .box.separate .title{
        color:black;
    }

    .section-03 > .container > .box .date{
        width: 50%;
        position: static;
        bottom: 0px;
        left: 0px;

        padding-left: 1rem;
    }
    .section-03 > .container > .box > .date .text{
        color: rgb(167, 167, 167);
        font-size: 1rem;
    }
    
    .section-03 > .container > .box > .trace{
        height: 90px;
        position: static;
        bottom: 0px;
        border-right: 5px solid yellow;
    }
    
    .section-03 > .container > .box > img{
        width: 60%;
        height: 50%;  
    }
    /* --------- */    
    /* BOX 2 */    
    .section-03 > .container > .box.united{
        width: 100%;
        height: 100%;      
        position: relative;

        background-color: black;
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;    
    }

    .section-03 > .container > .box.united > img{
        width: 50%;
        height: 100%;    
    } 
    
    .section-03 > .container > .box.united > .trace{
        height: 0;
        position: static;
        border:0;
    }

    .section-03 > .container > .box.united > .date .traceHorizontal{
        width: 90px;
        border-top: 2px solid yellow;
        margin-top: 1rem;
    }
    
    /* ----- */    
    /* BOX 3 */    
    .section-03 > .container > .box.united.two{
        margin-top: 0;
        flex-direction: row-reverse;      
    }    

    .section-03 > .container > .box.united.two .date{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        padding-right: 1rem;
    }
}
