.section-01{
    background-image: url('../Img/bg-masthead.jpg');
    background-size: cover;
    background-image: linear-gradient(to bottom, transparent 0%, black 95%), url('../Img/bg-masthead.jpg');
    color: #fff;
    width: 100vw;
    height: 100vh;
    padding:1rem 2rem;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

header > .options > .icon a{
    text-decoration: none;
    color: #fff;   
    transition: font-size 1s;
} 

header > .options > .icon a:hover{
    font-size: 1.5rem;
}

header > .slogan{
    transition: font-size 1s;
}

header > .slogan:hover{
    font-size: 1.5rem;
    
}

header > .options{
    display: flex;
    /* padding-right: 1rem; */
    font-size: 0.7rem;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* --------- */
/* BOX - Title Text Button */
.section-01 .box{
    height: 80%;
    width: 100%;

    display: flex;
    justify-content: center;
}

.section-01 > .box > .ct-01{
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-01 > .box > .ct-01 .text{
    padding-top:2rem;
    text-align: center;
}

.section-01 > .box > .ct-01 > .img{
    width: 80%;
    height: 20vh;
    background-image: url("../Img/starwars.png");
    opacity: 0.6;
    background-size: 100% 100%;
}
/* --------- */
/*  RESPONSIVE  */

/* Medium Devices - Tablet */
@media (min-width: 641px){
    .section-01 > header > .options{
        padding-right: 1rem;
        font-size: 1rem;
        width: auto;
    }
    .section-01 > header > .options .icon{
        padding-left: 1rem;
    }
}